src/main/mule/orchestrators/orchestrator-scheduler-siam-issste-stock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:slack="http://www.mulesoft.org/schema/mule/slack"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd">
	<flow name="orchestrator-update-siam-stockFlow" doc:id="6464424b-4597-454c-ade5-877bb2923a27" >
		<logger level="INFO" doc:name="Logger" doc:id="46ef52e2-5c42-4bcc-805e-d02d82dd8ebf" message="CONSULTANDO TEP" />
		<flow-ref doc:name="Call to clients-system-tep-get-siam-stock" doc:id="3bd4f22d-339d-4d9c-9b93-0a77c0b4d77e" name="clients-system-tep-get-siam-stock" />
		<logger level="INFO" doc:name="Logger" doc:id="00d17d6f-b856-420e-8aea-96b33e81ac77" message="FINALIZANDO CONSULTA TEP"/>
		<batch:job jobName="orchestrator-update-siam-stockBatch_Job" doc:id="f36a103c-6240-4b81-87df-4e768721a484" maxFailedRecords="-1" blockSize="200" schedulingStrategy="ROUND_ROBIN">
			<batch:process-records >
				<batch:step name="step_insert_data_siam" doc:id="ca8e0550-8d9d-4f1d-aa80-55f4b95116f8" acceptPolicy="ALL">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="65c61348-118d-4311-a237-b4d915c2bf4c" size="200">
						<logger level="INFO" doc:name="Logger" doc:id="4ebf56e3-d3da-4814-af52-4a9890f56e15" message="ENVIANDO LOTE"/>
						<ee:transform doc:name="Transform Message1" doc:id="61d669d6-062a-4e2a-9cdc-b377dac59c9a">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload map (value, index) -> { 
        object : read(value,"application/json")
}).object]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ee:transform doc:name="Transform Message" doc:id="fa235dae-623b-4e7c-9136-7307504d854e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(item)->{
    existencias_apartadas: item.existencias_apartadas,
    existencias_disponibles: item.existencias_disponibles,
    fecha: item.fecha,
    clave_presupuestal: item.clave_presupuestal,
    sku: item.sku,
    Existencias_totales: item.existencias_totales,
    external_id: item.sku ++ "-ISSSTE-" ++ item.clave_presupuestal
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="ddf489c5-e6a1-4042-9d9f-c9f75e1c2d1c" message="#[payload]" category="LOG 2 STEP"/>
						<flow-ref doc:name="Call to clients-system-tep-post-siam-stock" doc:id="af5082bd-1384-472a-924f-5d04065ac111" name="clients-system-tep-post-siam-stock" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Prepare message for slack" doc:id="5363c2ed-ed4f-46ad-bfd2-4e251ef5b02d" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="sendToSlack" ><![CDATA[%dw 2.0
output application/json
---
write(
	{
		totalRecords: payload.totalRecords as String,
		elapsedTimeInMillis: payload.elapsedTimeInMillis as String,
		failedRecords: payload.failedRecords as String,
		loadedRecords: payload.loadedRecords as String,
		successfulRecords: payload.successfulRecords as String,
		processedRecords: payload.processedRecords as String,
		batchJobInstanceId: payload.batchJobInstanceId as String,
		jobName: if(vars.query_type == "DIF") "Update Siam Stock" else "Create Siam Stock"
	}
)]]></ee:set-variable>
						<ee:set-variable variableName="reportRequest" ><![CDATA[%dw 2.0
output application/json
---
{
	totalRecords: payload.totalRecords as String,
	elapsedTimeInMillis: payload.elapsedTimeInMillis as String,
	failedRecords: payload.failedRecords as String,
	loadedRecords: payload.loadedRecords as String,
	successfulRecords: payload.successfulRecords as String,
	processedRecords: payload.processedRecords as String,
	batchJobInstanceId: payload.batchJobInstanceId as String,
	jobName: if ( vars.query_type == "DIF" ) "Update Siam Stock" else "Create Siam Stock"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<slack:create-chatpost-message doc:name="Send Message to slack" doc:id="7ca31101-523b-4bdf-88f8-33d4dd99fe75" config-ref="Slack_Connector_Config">
					<slack:chatpost-message-content><![CDATA[#[%dw 2.0
output application/json
---
{
	"channel": Mule::p('slack.connection.channel.siam'),
	"text": "`Attention!` <!channel> There is a successful message in a mule app-> :ok: "
	++ "\n ---------------------------------------------------"
	++ "\n `SUCCESSFUL SIAM STOCK RESPONSE`"
	++ "\n ---------------------------------------------------"
	++ "\n Fecha y hora ->" ++ now() as String
	++ "\n" ++ (vars.sendToSlack)
}]]]></slack:chatpost-message-content>
				</slack:create-chatpost-message>
				<ee:transform doc:name="Set" doc:id="d413654d-46f0-4436-9d32-4fac00d2bd11">
					<ee:message>
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	totalRecords: payload.totalRecords,
	elapsedTimeInMillis: payload.elapsedTimeInMillis,
	failedRecords: payload.failedRecords,
	loadedRecords: payload.loadedRecords,
	successfulRecords: payload.successfulRecords,
	processedRecords: payload.processedRecords,
	batchJobInstanceId: payload.batchJobInstanceId,
	jobName: if ( vars.query_type == "DIF" ) "Update Siam Stock" else "Create Siam Stock"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="4aeb5909-f795-49f6-8647-cec7335e1f9a" message="#[payload]"/>
				<async doc:name="Async" doc:id="e5538402-d55e-4d8b-b012-e8d4105c90b9">
					<choice doc:name="Choice" doc:id="e7671894-4aa2-4c7f-b0f3-350ce53932fd">
					<when expression='#[vars.query_type == "DIF"]'>
							<try doc:name="Try" doc:id="da359ed8-5f14-459d-bc8c-5751e8fa41f3">
						<ee:transform doc:name="Transform Message" doc:id="86517fef-e4d2-49f9-a511-c1b4e010d465" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.reportRequest]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<flow-ref doc:name="Call to orchestrator-scheduler-send-report-siam-issste" doc:id="f362fd08-3cbf-4312-a4fb-d5d837417996" name="orchestrator-scheduler-send-report-siam-issste" />
						<error-handler>
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cde86c25-8dbf-4651-99aa-227f5b0e6e3e">
								<logger level="INFO" doc:name="Logger" doc:id="3eb694f2-391f-481a-be85-231de48e80b6" message="FALLO LA GENERACION DEL REPORTE DE ACTUALIZACION" />
							</on-error-continue>
						</error-handler>
					</try>
					</when>
						<otherwise >
							<logger level="INFO" doc:name="Logger" doc:id="aca60c07-611a-474d-989f-a3f16a555868" message="SE ACTUALIZO TODO EL SIAM STOCK" />
						</otherwise>
				</choice>
				</async>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
