src/main/mule/clients/client-sys-sap-post-orden-compra.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="clients-system-sap-ordencompra" doc:id="166551e8-7dbd-4d05-9ad9-0eb21a46ac77" >
		<http:request method="POST" doc:name="Request" doc:id="5264d45a-c33f-4ddb-8cab-db1d967c4a1c" config-ref="client-system-sapHTTP_Request_configuration" path="${client.system.sap.http.path.ordencompra}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('client.system.sap.https.client_id'),
	"client_secret": p('client.system.sap.https.client_secret')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"action" : "ordencompra"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="e30ac901-e744-47ed-bac6-9cb28573f9da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="360fa52f-1d09-41c2-aa8d-2c77d1a34042" variableName="responsesap"/>
		<logger level="INFO" doc:name="Logger" doc:id="bb08fba3-1592-4b9d-b219-77ee124d9388" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a9de2db7-046b-41bc-bda8-eb633c3c4c88" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED" >
				<ee:transform doc:name="Transform Message" doc:id="6ed403c7-9240-4ce7-9686-824c9b2f6aac" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5571a791-d725-4195-8a9a-dfd4a69cdd65" type="HTTP:CONNECTIVITY" >
				<ee:transform doc:name="Transform Message" doc:id="b6dd71a3-fe4b-4e86-956e-a2e57e89caaf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
